
@{
    ViewBag.Title = "Empresa";
}

<div class="container-fluid pt-5 fondo">
    <div class="container mt-0 start">
        <div class="text-center pt-5">

            <h1 class="mt-5 mb-2 scale-up-hidden">Atrévete a marcar la diferencia</h1>
            <h2 class="mb-3 scale-up-hidden">Regístrate y ofrece una experiencia segura y sin igual a tus clientes</h2>
            <p class="mb-2 scale-up-hidden">¿Cansado de lidiar con estafas y desactualización de datos bancarios? </p>
            <p class="mb-5 scale-up-hidden">Nosotros también lo estábamos</p>

        </div>
    </div>
</div>
<div class="container-fluid pt-7">
    <div class="container">
        <div class="text-center pb-2">
            <h2 class="text-uppercase font-weight-bold slide-right-hidden">Por eso, hemos creado una solución revolucionaria que no sólo protegerá tus transacciones, sino que también simplificará las operaciones de tus clientes</h6>
        </div>
        <p class="mb-2 pt-5 scale-up-hidden">Imagina un mundo donde tus pagos fluyen sin complicaciones y tus datos están verificados y resguardados en una plataforma confiable. Con nuestro servicio de registro empresarial, ofrecemos a las empresas la posibilidad de:</p>

        <div class="row">
            <div class="col-md-6">
                <h3 class="mb-2 pt-5 slide-right-hidden">Confianza y Seguridad Aumentada </h3>
                <h5 class="mb-2 font-weight-light text-justify pt-3 slide-right-hidden">Al registrarse, las empresas pueden ofrecer a sus clientes una experiencia de pago segura y verificada. Esto aumenta la confianza de los clientes y reduce el riesgo de suplantación de identidad y fraudes electrónicos, creando relaciones más sólidas y duraderas.</h5>
            </div>
            <div class="col-md-6 text-center">
                <img src="~/Content/assets/img/confiar.png" style="height: 300px;" class="slide-right-hidden">
            </div>

            <div class="col-md-6 pt-5">
                <h3 class="mb-2 pt-5 slide-right-hidden">Protección contra Hackeos </h3>
                <h5 class="mb-2 font-weight-light text-justify pt-3 slide-right-hidden">Al proporcionar una vía directa y segura para que los clientes accedan a la información de pago, las empresas pueden reducir el riesgo de hackeos en cuentas de redes sociales que puedan comprometer los datos financieros.</h5>
            </div>

            <div class="col-md-6 text-center pt-5">
                <img src="~/Content/assets/img/proteger.png" class="slide-right-hidden img-config">
            </div>

            <div class="col-md-6 pt-5">
                <h3 class="mb-2 pt-5 slide-right-hidden">Transparencia Total</h3>
                <h5 class="mb-2 font-weight-light text-justify pt-3 slide-right-hidden">El registro permite a las empresas ofrecer una transparencia total en sus transacciones. Los clientes pueden verificar los datos de pago en cualquier momento, asegurando que estén haciendo pagos a la empresa correcta y evitando malentendidos.</h5>
            </div>

            <div class="col-md-6 text-center pt-5">
                <img src="~/Content/assets/img/transparencia.png" class="slide-right-hidden img-config">
            </div>

            <div class="col-md-6 pt-5">
                <h3 class="mb-2 pt-5 slide-right-hidden">Diferenciación Competitiva</h3>
                <h5 class="mb-2 font-weight-light text-justify pt-3 slide-right-hidden">Registrarse en la plataforma demuestra el compromiso de la empresa con la seguridad y la comodidad del cliente. Esto puede diferenciar a la empresa de la competencia y atraer a clientes preocupados por su seguridad financiera</h5>
            </div>

            <div class="col-md-6 text-center pt-5">
                <img src="~/Content/assets/img/competencia.png" class="slide-right-hidden img-config">
            </div>


            <div class="col-md-6 pt-5">
                <h3 class="mb-2 pt-5 slide-right-hidden">Reducción de Errores</h3>
                <h5 class="mb-2 font-weight-light text-justify pt-3 slide-right-hidden">Al permitir a los clientes verificar y confirmar sus datos de pago, se minimizan los errores en los procesos de pago</h5>
            </div>

            <div class="col-md-6 text-center pt-5">
                <img src="~/Content/assets/img/estadisticas.png" class="slide-right-hidden img-config">
            </div>

        </div>




        <div class="text-center pb-2 pt-7">
            <h3 class="font-weight-bold scale-up-hidden">Sabemos que la seguridad y la comodidad son fundamentales para el éxito de tu empresa. Es por eso que hemos diseñado cada aspecto de nuestro servicio con estos valores en mente. No hay más preocupaciones por fraudes, transacciones dudosas o datos desactualizados.</h3>
        </div>

        <div class="container col-lg-5 pt-5">
            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Regístrate</button>
        </div>

        <div class="pb-4 mb-5 pt-5">
            <h3 class="text-primary  text-center text-uppercase font-weight-bold slide-right-hidden">¡Únete a nosotros!</h3>
            <h5 class="font-weight-light text-center text-uppercase font-weight-bold slide-right-hidden pt-2">y da el paso hacia una gestión Confiable, inteligente y protegida</h5>
        </div>

    </div>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

