@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid py-3 bg-secondary mt-5 fondo">
    <div class="container start">
        <div class="text-center">
            <h1 class="mt-5 mb-2 scale-up-hidden">Facilitando la confianza y transparencia en los pagos</h1>
            <h5 class="mb-2 scale-up-hidden">Conéctate con nuestro propósito</h5>
            <p class=" scale-up-hidden">Verificar tus Datos de Pago y brindarle a tus clientes la confianza que merecen en cada paso</p>
        </div>
        <div class="container col-lg-5 ">
            <button class="btn btn-primary btn-block border-0 py-3 scale-up-hidden" type="submit">Veríficate Gratis</button>
        </div>
    </div>
</div>

<!-- Services Start-->
<div class="container-fluid pt-7" id="servicios">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold slide-right-hidden">¿Por qué suscribirse?</h6>
            <h1 class="mb-4 slide-right-hidden">¡El futuro de los pagos está a un click de distancia!</h1>
        </div>
    </div>
</div>
<!-- Jhon -->
<section class="cards-j slide-right-hidden">
    <div class="container-j">

        <div class="card-j">
            <div class="face face1">
                <div class="face face2">
                    <h2>Evita transacciones fallidas de una vez por todas</h2>
                </div>
                <div class="content-j" style="padding-top: 80px;">

                    <span class="stars"></span>
                    <ul>

                        <li class="java">Ingresa a la cuenta de tus empresas favoritas y verifica los datos antes de realizar un pago</li>
                        <br>
                        <li class="java">Olvídate de la preocupación de ingresar datos erróneos</li>
                        <br>
                        <li class="java">Evita costos por transacciones anuladas</li>
                        <br>
                        <li class="java">Garantiza transacciones sin complicaciones</li>
                        <br>
                        <li class="java">Evita ser victima  de un fraude</li>
                    </ul>

                </div>
            </div>

        </div>

        <div class="card-j">
            <div class="face face1">
                <div class="face face2">
                    <h2>Accede a información verificada directamente por la empresa</h2>
                </div>
                <div class="content " style="padding-top: 80px;">
                    <span class="stars"></span>
                    <ul>

                        <li class="python">Deja atrás la preocupación de escribir direcciones de  correos extensas y complicadas</li>
                        <br>
                        <li class="python">La autorización para actualizar los datos estará reservada exclusivamente para los acreditados por la empresa</li>
                        <br>
                        <li class="python">Datos del titular de la cuenta (Nombre, correo electrónico)</li>
                        <br>
                        <li class="python">Datos siempre actualizados</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="card-j">
            <div class="face face1">
                <div class="face face2">
                    <h2>Recibe alertas cada vez que una empresa de tu lista de favorito actualice su información</h2>
                </div>
                <div class="content" style="padding-top: 50px;">
                    <span class="stars"></span>
                    <ul>
                        <li class="cSharp">Mantente actualizado y seguro en todo momento. Te notificaremos cada vez que la empresa actualice sus datos</li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- Services End -->

<!-- Testimonial Start -->
<section id="clientes" class="customers">
    <div class="container-fluid py-3">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold slide-right-hidden">Testimonios</h6>
                <h1 class="mb-4 slide-right-hidden">Nuestros clientes</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="~/Content/assets/img/testimonial-1.jpg" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Client Name</h6>
                            <small>- Profession</small>
                        </div>
                    </div>
                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
                </div>
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="~/Content/assets/img/testimonial-2.jpg" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Client Name</h6>
                            <small>- Profession</small>
                        </div>
                    </div>
                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
                </div>
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="~/Content/assets/img/testimonial-3.jpg" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Client Name</h6>
                            <small>- Profession</small>
                        </div>
                    </div>
                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
                </div>
                <div class="position-relative bg-secondary p-4">
                    <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid rounded-circle" src="~/Content/assets/img/testimonial-4.jpg" style="width: 60px; height: 60px;" alt="">
                        <div class="ml-3">
                            <h6 class="font-weight-semi-bold m-0">Client Name</h6>
                            <small>- Profession</small>
                        </div>
                    </div>
                    <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>